---
import Layout from "@/layouts/Layout.astro";
import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
import { SiteConfig } from "@/config/siteConfig.ts";
const { site } = SiteConfig.site;
---

<Layout title={"About Us"} description={i18n.SEO_DESCRIPTION}>
  <section class="hero">
    <div class="container">
      <h1>About Us</h1>
    </div>
  </section>
  <article>
    <div class="container">
      <div class="row-1">
        {
          i18n.ABOUT.BLOKS.map((section) => (
            <section class={`${section.TYPE ? "box" : undefined}`}>
              <h2>{section.TITLE}</h2>
              <p>{section.DESCRIPTION}</p>
              {section.TYPE && (
                <nav class="grid justify-start">
                  <a href={`tel:${site.tel}`} class="chip">
                    <svg class="icon" width="24" height="24">
                      <use xlink:href="#mail" />
                    </svg>{" "}
                    {i18n.SITE.PHONE} {site.tel}
                  </a>
                  <a href={`mailto:${site.email}`} class="chip">
                    <svg class="icon" width="24" height="24">
                      <use xlink:href="#phone" />
                    </svg>{" "}
                    {site.email}
                  </a>
                </nav>
              )}
            </section>
          ))
        }
      </div>
    </div>
  </article>
</Layout>
